{{#each data}}
<li style='list-style: none; margin-bottom:20px'>
    <img style='margin-right:15px' src='{{flags.svg}}' alt='' width='100' />
    <b style='font-size: 20px;'>{{name.official}}</b>
</li>
{{/each}}